html, body {
    margin: 0;
    border: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

body {
    width: 100%;
    height: 100%;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

#submit, #search {
    background-color: transparent;
    border-radius: 0.5em;
    padding: 0.5em 3em 0.5em 3em;
}

#submit {
    border: none;
    position: absolute;
    transform: translate(-1em, 0.6em);
    padding: 0;
}

#form1 {
    display: flex;
    justify-content:flex-end;
    margin-bottom: 1em;
}

#content {
    display: flex;
    flex-direction: column;
}

#temp {
    font-size: 4em;  
    margin: 0;
    padding-left: 0.5em;
}

#tempContIcon {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin: 0;
}

#description {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#description > p {
    margin: 0;
    }

#city {
    font-weight: 700;
    font-size: 2em;
}

#changeUnits {
    margin-top: 1em;
    background-color: transparent;
    border-radius: 0.5em;
}

#header1 {
    margin:0;
}